version: 2.1

executors:
  go:
    docker:
      - image: circleci/golang:1.14
    environment:
      GO111MODULE: "on"
      GOPROXY: https://proxy.golang.org/
      GOLANGCI_LINT_VERSION: 1.26.0
  node:
    docker:
      - image: circleci/node
jobs:
  go-test:
    executor:
      name: go
    steps:
      - checkout
      - run:
          name: Install golangci-lint
          command: |
            curl -sLo golangci-lint.tar.gz https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VERSION}/golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz
            tar -xvf golangci-lint.tar.gz
            mkdir -p ~/bin
            mv golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64/golangci-lint ~/bin
            echo 'export PATH="~/bin:$PATH"'
      - run:
          name: Go Tests
          command: make test

  build:
    executor: go
    steps:
      - checkout
      - run:
          name: Install tools
          command: |
            curl -sLo golangci-lint.tar.gz https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VERSION}/golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz
            tar -xvf golangci-lint.tar.gz
            mkdir -p ~/bin
            mv golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64/golangci-lint ~/bin
            echo 'export PATH="~/bin:$PATH"'
            go get -u github.com/gobuffalo/packr/packr
      - run:
          name: Compile binaries
          command: make build
      - persist_to_workspace:
          root: .
          paths:
            - bin/*

  publish:
    executor: node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          # TODO:  <16-05-20, fllaca> # use a Docker image with preinstalled tooling?
          name: Install tools
          command: |
            npm install -g changelog-parser
            curl -sLO https://github.com/github/hub/releases/download/v2.14.2/hub-linux-amd64-2.14.2.tgz
            tar -xvf hub-linux-amd64-2.14.2.tgz
            sudo mv hub-linux-amd64-2.14.2/bin/hub /usrl/local/bin/
      - run:
          name: publish
          command: ./scripts/publish-release.sh $CIRCLE_TAG

workflows:
  version: 2
  test:
    jobs:
      - go-test:
          filters:
            tags:
              only:
                - /.+/
      - build:
          requires:
            - go-test
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^v[0-9]\d*\.[0-9]\d*\.[0-9]\d*$/
                - /^v[0-9]\d*\.[0-9]\d*\.[0-9]\d*-rc[0-9]\d*$/
      - publish:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^v[0-9]\d*\.[0-9]\d*\.[0-9]\d*$/
                - /^v[0-9]\d*\.[0-9]\d*\.[0-9]\d*-rc[0-9]\d*$/
